html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

/* --- SIDEBAR --- */
.sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    background: rgba(0, 153, 191, 0.528);
    padding-top: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    /* transition: background-color 0.3s, transform 0.3s; */
    border-left: 3px solid transparent;
}

.sidebar li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateX(10px);
    border-left-color: #fff;
    transition: background-color 0.3s, transform 0.3s;
}



/* --- KONTEN UTAMA --- */
.content {
    margin-left: 200px;
    padding: 20px;
}

section {
    padding: 60px 0;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: #0077be;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}


.hero-image {
   
    background-image: url('https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-info {
    background: linear-gradient(135deg, #00b4d8 0%, #0077be 100%);
    color: white;
    text-align: center;
}