body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}

.box{
    border: 1px solid rgb(197, 197, 197);
    padding: 10px;
    border-radius: 5px;
}

label{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

select{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.preview{
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

h2{
    text-align: center;
}